<%= form_with(model: post, url: admin_post_url(post), class: "shadow bg-white rounded-md p-4 m-4 w-full") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">
    <div class="my-10">
      <div class="font-bold">
        <%= form.label :title %>
      </div>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full" %>
    </div>

    <div class="my-10">
      <div class="font-bold">
        <%= form.label :iframe %>
      </div>
      <%= form.text_area :iframe, class: "shadow appearance-none border rounded w-full" %>
    </div>

    <div class="my-10">
      <div class="font-bold">
        <%= form.label :technology %>
      </div>
      <%= form.select :technology, options_for_select(Post.technologies.to_a), class: "shadow appearance-none border rounded w-full" %>
    </div>

    <div class="my-10">
      <div class="font-bold">
        <%= form.label :blurb %>
      </div>
      <%= form.text_area :blurb, cols: 100, rows: 10, class: "shadow appearance-none border rounded w-full" %>
    </div>

    <div class="my-10">
      <div class="font-bold">
        <%= form.label :body %>
      </div>
      <%= form.text_area :body, cols: 100, rows: 20, class: "shadow appearance-none border rounded w-full" %>
    </div>

    <%= form.submit class: "rounded-md py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
