<div id="<%= dom_id post %>">
  <div class="title">
    <%= post.title %>
  </div>

  <% if post.thumbnail.present? %>
    <%= image_tag post.thumbnail, class: "sm:w-1/3 w-full" %>
  <% end %>

  <body>
    <%= post.blurb %>
  </body>

  <% if action_name == 'show' %>
    <%= markdown(post.body) %>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this post", admin_post_path(post), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_admin_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
