<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">
    <div class="my-10">
      <div class="font-bold">
        <%= form.label :title %>
      </div>
      <%= form.text_field :title %>
    </div>

    <div class="my-10">
      <div class="font-bold">
        <%= form.label :body %>
      </div>
      <%= form.text_area :body %>
    </div>

    <%= form.submit class: "rounded-md py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
