<div class="font-serif font-black text-purple-300 text-5xl sm:text-7xl pt-10 w-full">
  <%= post.title.upcase %>
</div>

<div class="flex flex-row mt-6 mb-2">
  <div class="bg-darker-50 px-2 py-1 mr-auto max-w-1/3 rounded-md">
    <div class="font-light italic text-darker-800">
      <%= "# #{post.technology}" %>
    </div>
  </div>
</div>

<p class="italic sm:text-2xl text-lg flex">
  <%= post.blurb %>
</p>


<% if post.iframe %>
  <%= post.iframe&.html_safe %>
<% end %>

<%= markdown(post.body) %>
