<!DOCTYPE html>
<html>
  <head>
    <title>TypecraftDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="border-b border-b-slate-400">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex items-center w-40">
          <%= image_tag "keyboard", size: "100x100" %>
          <div class="dark-cool font-bold pl-2 self-end">
            craft
          </div>
        </div>

        <div class="flex w-72 justify-end">
          <%= link_to 'Blog', admin_posts_path, class: "ml-2 py-3 px-5 inline-block slate font-medium hover:underline" %>
          <%= link_to 'About', about_path, class: "ml-2 py-3 px-5 inline-block slate font-medium hover:underline" %>
        </div>
      </div>
    </div>
  </nav>

  <body class="">
    <main class="w-full mx-auto max-w-7xl sm:px-6 lg:px-8 mt-12 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
