<!DOCTYPE html>
<html>
  <head>
    <title>typecraft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <nav class="bg-darker-900">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <%= link_to home_path do %>
          <div class="flex items-center w-40">
            <%= image_tag "keyboard", size: "60x60" %>
          </div>
        <% end %>

        <div class="flex w-72 justify-end">
          <%= link_to 'Blog', posts_path, class: "ml-2 py-3 px-5 inline-block text-purple-50 font-medium text-lg hover:underline" %>
          <%= link_to 'About', about_path, class: "ml-2 py-3 px-5 inline-block text-purple-50 font-medium text-lg hover:underline" %>
        </div>
      </div>
    </div>
  </nav>

  <body>
    <main class="w-full min-h-screen mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
